.community-groups-div {
    width: 445px;
    height: 670px;
    background-color: #111b21;
}
.nav-div-community {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #202c33;
    padding: 30px;
}
p.content-community {
    color: white;
}
.create-community-div {
    display: flex;
    align-items: center;
    gap: 40px;
    /* margin-left: 30px; */
    margin-bottom: 10px;
}
.create-community-div:hover{
    background: #202c33;
}
p.para-create-community {
    color: white;
}
svg.svg-inline--fa.fa-users.fa-lg.community-img {
    margin-left: 28px;
    cursor: pointer;
}
.arrow-img{
    cursor: pointer;
}